/*
container slideBox title 
footer author links
*/

.title {
  margin-top: 40px;
  transition: all 0.2s ease-in;
}

.title h3 {
  font-size: 42px;
  letter-spacing: 0.03em;
}

.title:hover {
  text-decoration: underline;
  color: #ff0000;
}

.title svg {
  margin-right: 5px;
}

.footer {
  margin-top: 100px;
  width: 100%;
  height: 65px;
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  margin-left: 80px;
  font-size: 26px;
  letter-spacing: 0.05em;
}

.author h4 {
  background: linear-gradient(
    to right,
    rgba(237, 193, 218, 1) 0%,
    rgba(136, 124, 211, 1) 50%,
    rgba(117, 174, 242, 1) 100%
  );
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.links {
  display: flex;
  margin-right: 80px;
}

.links li {
  color: #111;
  font-size: 20px;
  list-style: none;
  margin-left: 70px;
  transition: all 0.2s ease;
}

.links li:hover {
  color: #4000a7;
  transform: scale(1.1);
}

/* 반응형 */

@media screen and (max-width: 600px) {
  .container::after {
    content: 'please watch on Desktop! 🖥';
    background-color: rgba(255, 255, 255, 0.85);
    padding: 60px;
    border-radius: 10px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
  }
}
