.Load {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.typing {
  margin: 0;
  white-space: nowrap;
  animation-name: typingDot;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(31);
  overflow: hidden;
}

@keyframes typingDot {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
