/*
movie coverImg text title info
*/

.movie {
  width: 230px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  transition: all 0.2s ease-in;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.movie:hover {
  transform: translateY(-15px);
}

.coverImg img {
  border-radius: 6px 6px 0 0;
}

.text {
  padding: 3px 4px;
}

.title {
  text-align: center;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom: 3px;
  transition: all 0.1s ease-in;
}

.title:hover {
  color: #4000a7;
  text-decoration: underline;
  transform: scale(1.03);
}

.info {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  color: #666;
  text-align: center;
}
